body {
  background: #000;
  /* font-family: "Monaco", Monaco, sans-serif; */
  font-family: Monaco, Courier, "Courier New";
  color: #FFF;
}

#tty li {
  list-style: none;
}
#tty li span.command, #tty li span.cursor, #tty li span.after-cursor {
  display: inline-block;
  margin-left: -10px;
}
#tty li span.cursor {
  width: 10px;
  height: 20px;
  border-bottom: 2px solid #000;
}
#tty li span.cursor.show-cursor {
  border-bottom: 2px solid #FFF;
}
#tty li span.prompt {
  margin-right: 10px;
}

#buffer {
  position: fixed;
  top: -100px;
}
