body { 
  background: #000;

  font-family: "Monaco", Monaco, sans-serif;
  color: #FFF;
}

#repl {
  li { 
    list-style: none;

    span {
      &.command, &.cursor, &.after-cursor {
        display: inline-block;
        margin-left: -10px;
      }

      &.cursor { 
        width: 10px;
        height: 20px;
        border-bottom: 2px solid #000;
        &.show-cursor {
          border-bottom: 2px solid #FFF;
        }
      }
      &.prompt { margin-right: 10px; }
    }
  }
}


// #cursor {
//   margin-left: -1em;
// }

#buffer {
  position: fixed;
  top: -100px;
}
