body { 
  background: #000;

  font-family: "Monaco", Monaco, sans-serif;
  color: #FFF;
}

#repl {
  li { list-style: none; }
}
#cursor {
  margin-left: -0.5em;
}

#buffer {
  position: fixed;
  top: -100px;
}
